*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    margin-top: 3rem;
}

.container{
    max-width: 1000px;
    margin-inline: auto;
}

.title{
    text-align: center;
    font-size: 3rem;
    color: rgb(199, 67, 89);
    font-family: 'Tilt Warp', cursive;
}

p{
    margin-top: 5rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    
}

.container2{
    width: 1000px;
    height: 300px;
    margin: 20px auto;
    border: solid 2px blue;
    background: aqua;
    overflow: hidden;

}

.box{
    box-sizing: border-box;
    width: 320px;
    height: 104px;
    margin: 0;
    border: solid 2px black;
}

img{
    float: left;
    width: 100px;

}

.boxphoto{
    float: left;
    overflow: auto;
    width: 100px;
    height: 100px;
    
    
}