*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    margin-top: 3rem;
}

.container{
    max-width: 1000px;
    margin-inline: auto;
}

.title{
    text-align: center;
    font-size: 3rem;
    color: rgb(199, 67, 89);
    font-family: 'Tilt Warp', cursive;
}

.title2{
    margin-top: 5rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    
}

.container{
    width: 1000px;
    margin-inline: auto;
    margin-top: 4rem;
}

.box-member{
    width: 350px;
    height: 100px;
    background-color: rgb(1, 0, 8);
}

img{
    float: left;
    width: 100px;
    margin-right: 1rem;
}

.name-member{
    color: white;
    font-family: 'Tilt Warp', cursive;
    position: relative;
    top: 7px;
}

.work-member{
    color: white;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    
}

address{
    color: rgba(4, 89, 247, 0.726);
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 5px;
}

